<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!-- import CSS -->
	<link rel="stylesheet" href="/dist/index.css">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
	<style>
		html,body,#app{
			height: 100%;
			width: 100%;
		}

    .dates {
      float: right;
    }
    .tables {
      margin-top: 20px;
    }
    .selects {
      margin-right: 10px;
    }
	</style>
</head>
<body>
	<div id="app">
    <el-dialog title="Change Options" :visible.sync="vnew" center>
      <el-form :model="form" ref="ruleForm" :rules="rules" label-position="right"  label-width="80px">
        <el-form-item prop="bucket" label="Bucket">
          <el-autocomplete v-model="form.bucket" :fetch-suggestions="querySearch" :trigger-on-focus="false" placeholder="Bucket"></el-autocomplete>
        </el-form-item>
        <el-form-item label="Key" prop="key">
          <el-input v-model="form.key" placeholder="Key"></el-input>
        </el-form-item>
        <el-form-item label="Value" prop="value">
          <el-input v-model="form.value" placeholder="Value"></el-input>
        </el-form-item>
        <el-form-item label="BucketOps">
          <el-button type="primary" @click="submitBucket('ruleForm')">Add Bucket</el-button>
          <el-button type="danger" @click="deleteBucket('ruleForm')">Delete Bucket</el-button>
        </el-form-item>
        <el-form-item label="KeyOps">
          <el-button type="warning" @click="putKey('ruleForm')">Put Key</el-button>
          <el-button type="danger" @click="deleteKey('ruleForm')">Delete Key</el-button>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="vnew = false">Cancel</el-button>
        <el-button @click="resetForm('ruleForm')">Reset</el-button>
      </div>
    </el-dialog>
    <el-tabs type="border-card">
      <el-tab-pane label="Prefix">
        <el-select 
          class="selects"
          v-model="value" 
          filterable 
          @change="changeSelect"
          @focus="getOptions"
          placeholder="请选择">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
        <el-button type="primary" icon="el-icon-plus" @click="vnew = true"></el-button>
        <el-button type="success" icon="el-icon-refresh" @click="changeSelect"></el-button>
        <el-table
          class="tables"
          stripe
          border
          :data="tableData.slice((currentPage-1)*pagesize,currentPage*pagesize)"
          style="width: 100%">
          <el-table-column
            prop="key"
            label="键">
          </el-table-column>
          <el-table-column
            prop="value"
            label="值">
          </el-table-column>
          <el-table-column
            fixed="right"
            align="center">
          <template slot="header" slot-scope="scope">
            <el-input
              v-model="search"
              size="mini"
              maxlength="50"
              show-word-limit
              clearable
              @input="searchPrefix"
              placeholder="输入Prefix关键字搜索"/>
          </template>
          <template slot-scope="scope">
            <el-button
              @click.native.prevent="handleEdit(scope.$index, scope.row)"
              type="primary"
              icon="el-icon-edit"
              size="small">
            </el-button>
            <el-button
              @click.native.prevent="handleDelete(scope.$index, scope.row)"
              type="danger"
              icon="el-icon-delete"
              size="small">
            </el-button>
          </template>
        </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 30px;">
          <el-pagination
              background
              layout="total,sizes,prev, pager, next,jumper"
              :total="total"
              :page-sizes="[5,10, 15, 20]"
              :page-size="pagesize"
              @size-change="handleSizeChange"
              @current-change="current_change">
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="Range">
        <el-select 
          class="selects"
          v-model="value" 
          filterable 
          @change="changeSelect"
          @focus="getOptions"
          placeholder="请选择">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
        <el-button type="primary" icon="el-icon-plus" @click="vnew = true"></el-button>
        <el-button type="success" icon="el-icon-refresh" @click="changeSelect"></el-button>
        <el-date-picker
            class="dates"
            v-model="rangevalue"
            type="daterange"
            @change="changeRange"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :default-time="['00:00:00', '23:59:59']"
            format="yyyy 年 MM 月 dd 日"
            value-format="yyyyMMddHHmmss"
            :picker-options="pickerOptions">
          </el-date-picker>
        <el-table
          class="tables"
          stripe
          border
          :data="tableData.slice((currentPage-1)*pagesize,currentPage*pagesize)"
          style="width: 100%">
          <el-table-column
            prop="key"
            label="键">
          </el-table-column>
          <el-table-column
            prop="value"
            label="值">
          </el-table-column>
          <el-table-column
            fixed="right"
            align="center">
          <template slot="header" slot-scope="scope">
            <el-input
              v-model="search"
              size="mini"
              maxlength="50"
              show-word-limit
              clearable
              @input="searchPrefix"
              placeholder="输入Prefix关键字搜索"/>
          </template>
          <template slot-scope="scope">
            <el-button
              @click.native.prevent="handleEdit(scope.$index, scope.row)"
              type="primary"
              icon="el-icon-edit"
              size="small">
            </el-button>
            <el-button
              @click.native.prevent="handleDelete(scope.$index, scope.row)"
              type="danger"
              icon="el-icon-delete"
              size="small">
            </el-button>
          </template>
        </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 30px;">
          <el-pagination
              background
              layout="total,sizes,prev, pager, next,jumper"
              :total="total"
              :page-sizes="[5,10, 15, 20]"
              :page-size="pagesize"
              @size-change="handleSizeChange"
              @current-change="current_change">
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane label="Orm">
        <el-alert
          style="margin-bottom: 20px;"
          title="TODO: 使用ORM工具对数据进行结构化存储，并按Created进行Range范围搜索时序数据。"
          show-icon
          effect="dark"
          type="success">
        </el-alert>
      </el-tab-pane>
      <el-tab-pane label="Backup">
        <el-alert
          style="margin-bottom: 20px;"
          title="curl http://localhost/api/v1/db/backup > my.db"
          show-icon
          effect="dark"
          type="warning">
        </el-alert>
        <a href="/api/v1/db/backup" target="_blank">Download</a>
      </el-tab-pane>
      <el-tab-pane label="Swagger">
        <iframe src="/swagger/index.html" ref="iframe" width="100%" :height="clientHeight" frameborder="0" scrolling="yes"></iframe>
      </el-tab-pane>
    </el-tabs>
	</div>
</body>
	<!-- import Vue before Element -->
	<script src="/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="/dist/index.js"></script>
	<script>
	new Vue({
		el: '#app',
		data: function() {
			return {
        vnew: false, 
        total: 1,
        currentPage: 1,
        pagesize: 10,
				form: {
          bucket: '',
          key: '',
          value: ''
        },
        options: [{
          value: '选项1',
          label: '黄金糕'
        }],
        value: '', // current Bucket
        search: '',
        tableData: [],
				clientHeight: document.documentElement.clientHeight - 20,
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        rangevalue: [],
        rules: {
          bucket: [
            {required: true, message: 'please input bucket', trigger: 'blur'}
          ]
        }
			}
		},
		mounted() {
			let self = this;
			window.onresize = function () {
				self.clientHeight = document.documentElement.clientHeight - 20;
			};
			window.onresize()
      this.getOptions()
		},
		methods: {
      changeRange() {
        console.log(this.rangevalue)
        if (this.value === '') {
          this.$message({
            message: 'Please Select Bucket First',
            type: 'warning'
          })
          return
        }
        fetch('/api/v1/key/range/' + this.value + '/' + this.rangevalue[0] + '/' + this.rangevalue[1]).then((response) => {
          return response.json()
        }).then((json) => {
          if (json.Status === 'success') {
            this.$message({
              message: '加载Range搜索 ' + this.rangevalue[0] + '-' + this.rangevalue[1] + ' 成功',
              type: 'success'
            })
            this.total = json.Count
            this.tableData = []
            for (let key in json.Data) {
              var tmp = {
                key: key,
                value: json.Data[key]
              }
              this.tableData.push(tmp)
            }
          } else {
            this.$message({
              message: json.Status,
              type: 'error'
            })
          }
        })
      },
      querySearch(queryString, cb) {
        var restaurants = this.options;
        var results = queryString ? restaurants.filter(this.createFilter(queryString)) : restaurants
        // 调用 callback 返回建议列表的数据
        cb(results);
      },
      createFilter(queryString) {
        return (restaurant) => {
          return (restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0)
        }
      },
      submitBucket(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            fetch('/api/v1/bucket/add/' + this.form.bucket,{
              method: 'POST',
              cache: 'no-cache',
              headers: {
                'content-type': 'application/json'
              }
            }).then((response) => {
              console.log(response)
              if (response.status === 200) {
                this.$message({
                  message: '添加Bucket ' + this.form.bucket + ' 成功',
                  type: 'success'
                })
              } else {
                this.$message({
                  message: response.statusText,
                  type: 'error'
                })
              }
            })
          } else {
            console.log('error submit!!')
            return false
          }
        })
      },
      deleteBucket(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            fetch('/api/v1/bucket/delete/' + this.form.bucket,{
              method: 'DELETE',
              cache: 'no-cache',
              headers: {
                'content-type': 'application/json'
              }
            }).then((response) => {
              console.log(response)
              if (response.status === 200) {
                this.$message({
                  message: '删除Bucket ' + this.form.bucket + ' 成功',
                  type: 'success'
                })
              } else {
                this.$message({
                  message: response.statusText,
                  type: 'error'
                })
              }
            })
          } else {
            console.log('error submit!!')
            return false
          }
        })
      },
      putKey(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            fetch('/api/v1/key/add/' + this.form.bucket + '/' + this.form.key + '/' + this.form.value,{
              method: 'POST',
              cache: 'no-cache',
              headers: {
                'content-type': 'application/json'
              }
            }).then((response) => {
              console.log(response)
              if (response.status === 200) {
                this.changeSelect()
                this.$message({
                  message: '添加(修改) Key ' + this.form.key + ' 成功',
                  type: 'success'
                })
              } else {
                this.$message({
                  message: response.statusText,
                  type: 'error'
                })
              }
            })
          } else {
            console.log('error submit!!')
            return false
          }
        })
      },
      deleteKey(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            fetch('/api/v1/key/delete/' + this.form.bucket + '/' + this.form.key,{
              method: 'DELETE',
              cache: 'no-cache',
              headers: {
                'content-type': 'application/json'
              }
            }).then((response) => {
              console.log(response)
              if (response.status === 200) {
                this.changeSelect()
                this.$message({
                  message: '添加Key ' + this.form.key + ' 成功',
                  type: 'success'
                })
              } else {
                this.$message({
                  message: response.statusText,
                  type: 'error'
                })
              }
            })
          } else {
            console.log('error submit!!')
            return false
          }
        })
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
      searchPrefix(val) {
        // console.log(this.search,val)
        if (this.value === '') {
          this.$message({
            message: 'Please Select Bucket First',
            type: 'warning'
          })
          return
        }
        if (this.search === '') {
          this.changeSelect()
          return
        }
        fetch('/api/v1/key/prefix/' + this.value + '/' + this.search).then((response) => {
          return response.json()
        }).then((json) => {
          if (json.Status === 'success') {
            this.$message({
              message: '加载前缀搜索 ' + this.search+ ' 成功',
              type: 'success'
            })
            this.total = json.Count
            this.tableData = []
            for (let key in json.Data) {
              var tmp = {
                key: key,
                value: json.Data[key]
              }
              this.tableData.push(tmp)
            }
          } else {
            this.$message({
              message: json.Status,
              type: 'error'
            })
          }
        })
      },
      handleEdit(index, row) {
        console.log(index, row);
        this.form = {
          bucket: this.value,
          key: row.key,
          value: row.value
        }
        this.vnew = true
      },
      handleDelete(index, row) {
        // console.log(index, row);
        fetch('/api/v1/key/delete/'+ this.value+ '/' + row['key'],{
          method: 'DELETE',
          cache: 'no-cache',
          headers: {
            'content-type': 'application/json'
          }
        }).then((response) => {
          // console.log(response)
          if (response.status === 200) {
            this.changeSelect()
            this.$message({
              message: '删除成功',
              type: 'success'
            })
          } else {
            this.$message({
              message: response.statusText,
              type: 'error'
            })
          }
        })
      },
      handleSizeChange (val) {
        this.pagesize = val
      },
      current_change:function(currentPage){
        this.currentPage = currentPage;
      },
      changeSelect() {
        // console.log(this.value)
        if (this.value === '') {
          this.$message({
            message: 'Please Select Bucket First',
            type: 'warning'
          })
          return
        }
        fetch('/api/v1/key/get/'+this.value).then((response) => {
          return response.json()
        }).then((json) => {
          // console.log(json)
          if (json.Status === 'success') {
            this.$message({
              message: '加载 ' + this.value+ ' 成功',
              type: 'success'
            })
            this.total = json.Count
            this.tableData = []
            for (let key in json.Data) {
              var tmp = {
                key: key,
                value: json.Data[key]
              }
              this.tableData.push(tmp)
            }
          } else {
            this.$message({
              message: json.Status,
              type: 'error'
            })
          }
        })
      },
			getOptions() {
				fetch('/api/v1/bucket/get').then((response) => {
          return response.json()
        }).then((json) => {
          // console.log(json)
          this.options = []
          json.forEach(info => {
            var tmp = {
              value: info,
              label: info
            }
            this.options.push(tmp)
          })
        })
			},
			geturl() {
				this.beforeUrl = this.afterUrl
				this.afterUrl = document.getElementById('static').contentWindow.location.href.replace(window.location.href+'static','')
				// console.log(document.getElementById('static').contentWindow.location.href)
			},
      onSubmit() {
        console.log('submit!');
      }
		}
	})
	</script>
</html>